html {
    background-color: black;
}

h1 {
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: white;
    text-align: center;
}

img {
    border: 5px solid white;
    margin-top: 20px;
}

div {
    margin-left: 25%;
    width: 50%;
}

